header{
    display:flex;
    justify-content:space-between;
    color:white;
    padding:15px;
    align-items:center;
    box-shadow: 0 6px 10px rgba(57, 63, 72, 0.3);
    margin:5px;
    background: inherit;
    backdrop-filter: blur(10px);
    outline: 1px solid white;
}

a{
    padding: 10px;
    text-decoration: none ;
    color: white;
    
    
}
a:hover{
  border-bottom: 2px solid white;
  
}


@media (max-width: 667px) {
    header {
      flex-direction: column;
    }
  }